p,h1,h2,h3,h4,h5,h6
{
font-family: 'Open Sans', sans-serif;
color: #666;
text-align:center;
padding:5px;    
}

p {
    font-size: 11px;
  
} 

H1{
    font-size: 17xp;
    color: #999999;
    font-weight:100;
}

H4 {
    font-size: 15px;
    font-weight:100;
}


body 
{
background-color:whitesmoke;
color:white;
}

.wrapper{
    text-align:center;
    padding:5px;
}


.Logo{
    display: inline-block;
    text-align:center;
    padding:30px;
    border: none;
}